* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* navbar */

header {
    width: 100dvw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-image: linear-gradient(to top, #FDEE00, #FF91AF);
    color: white;
    font-size: 1.1rem;
}

header :is(figure, nav ul) {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header .logo img {
    width: 150px;
    height: 60px;
    object-fit: cover;
}

header .logo figcaption {
    margin-left: -10px;
    place-self: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
}

header nav ul li a {
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header nav ul li a i {
    visibility: hidden;
}
/* akhir navbar */


/* halaman profile dan 3 product */
main .landing-page {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5rem;
    place-content: start center;
    place-items: center;
    background-image: linear-gradient(to right bottom,#FF91AF, #fdec00d6);
}

.landing-page .about-toko {
    width: 35vw;
    padding-top: 5rem;
    place-self: start center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 102;
}

.landing-page .about-toko p {
    font-size: 3rem;
}

.landing-page .about-toko h2 {
    font-size: 4rem;
    font-family: "Pacifico", cursive;
    font-weight: 200;
}

.landing-page .about-toko .sosial-media {
    text-align: center;
    height: 60px;
}

.landing-page .about-toko .sosial-media a {
    text-decoration: none;
    width: min-content;
    margin: 0 1rem;
}

.landing-page .about-toko .sosial-media a i {
    transition: .8s linear;
    font-size: 2.2rem;
    color: white;
}

.landing-page .about-toko .sosial-media a:hover .ph-instagram-logo {
    background-image: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );
    background-clip: text;
    color: transparent;
}


.landing-page .about-toko .sosial-media a:hover .ph-tiktok-logo {
    background-image: linear-gradient(
        135deg,
        #000
    );
    background-clip: text;
    color: transparent;
}

.landing-page .desain-bagus {
    display: grid;
    width: 40vw;
}

.landing-page .desain-bagus section img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.landing-page .desain-bagus .atas {
    place-self: end;
}

.landing-page .desain-bagus :is(.atas, .tengah, .bawah) {
    overflow: hidden;
    position: relative;
}

.landing-page .desain-bagus :is(.atas, .tengah, .bawah)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-35deg) translateX(-180%);
}

@keyframes shine {
    0% {
        transform: skewX(-35deg) translateX(-180%);
    }
    100% {
        transform: skewX(-35deg) translateX(275%);
    }
}

.landing-page .desain-bagus :is(.atas, .tengah, .bawah).shine-active::before {
    animation: shine 3s 1;
}

.landing-page .desain-bagus :is(.atribute-bunga-1, .atribute-bunga-2, .atribute-bunga-3) {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(-40deg);
    z-index: 2;
}

.landing-page .desain-bagus .atribute-bunga-1 {
    right: 205px;
    top: 70px;
}

.landing-page .desain-bagus .tengah {
    place-self: center;
    margin: 1rem 0 1rem 2rem;
}

.landing-page .desain-bagus .atribute-bunga-2 {
    right: 355px;
    top: 260px;
}

.landing-page .desain-bagus .bawah {
    place-self: end;
}

.landing-page .desain-bagus .atribute-bunga-3 {
    right: 205px;
    top: 450px;
}



/* bagian filter dan product */

main :is(.product, .paket-usaha) {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


main .product {
    height: 100dvh;
    background-image: linear-gradient(-160deg, #fdec00d6,  #FF91AF);
    padding: 2.5rem 0;
}

main .product :is(.filter-inti, .filter-jenis) ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 3%;
}

main .product .filter-inti ul {
    column-gap: 7rem;
}

.product .filter-inti ul li {
    cursor: pointer;
    font-size: 1.25rem;  
}

.product .filter-inti ul li.active {
    position: relative;
    display: flex;
    justify-content: center;
}

.product .filter-inti ul li.active::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-image: linear-gradient(to left, #4997D0, #FDEE00, #FF91AF);
    top: 30px;
    transition: .5s linear;
}

.product .filter-inti ul li:hover::before {
    width: 0%;
}

.product .filter-jenis {
    display: none;
    position: relative;
}

@keyframes AnimateFilter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


.product .filter-jenis ul li {
    cursor: pointer;
    opacity: .2;
    margin: 0 10%;
    text-align: center;
}

.product .filter-jenis ul li[data-filter="cardigan-rajut"].active::after {
    top: 110%;
}

.product .filter-jenis ul li.active {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
}

.product .filter-jenis ul li.active::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(to left, #4997D0, #FF91AF 80%);
    top: 100%;
    transition: .6s ease;
}

.product .filter-jenis ul li.active::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(to left, #FF91AF 50%, #4997D0);
    top: 120%;
    transition: .6s linear;
}

.product .filter-jenis ul li.active:hover::before {
    width: 0%;
}

.product .filter-jenis ul li.active:hover::after {
    width: 0%;
}


/* product */

.product .jenis-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: .9s ease-out;
    position: relative;
}

.product .jenis-product[data-letak] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 1rem 0 -1rem;
}

.product .jenis-product .card-product {
    background-image: linear-gradient(to top left, #ff91aeda, #fdec00bb);
    width: 70%;
    height: 38dvh;
    margin: 0 3.5rem 8%;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    font-size: .8rem;
}

.product .jenis-product .card-product:nth-child(-n+5) {
    display: none;
    transition: .7s linear;
}

.product .jenis-product .card-product:nth-child(n+5) {
    display: none;
}

.product .jenis-product .card-product img {
    width: 50%;
    height: 50%;
    border-radius: 7%;
    margin: 1rem 0;
    object-fit: cover;
    transition: .2s ease-in;
}

.product .jenis-product .card-product:hover img {
    transform: scale(1.1);
}


/* preview product */

.product .container-preview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100dvh;
    width: 100dvw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.product .container-preview .card-preview {
    display: none;
    grid-template-areas: 'title img'
                         'desc img';
    border: 3px solid black;
    background-image: linear-gradient(140deg, #FDEE00, #4997D0);
    height: 50%;
    width: 40%;
}

.product .container-preview .card-preview h3 {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;

}

.product .container-preview .card-preview img {
    grid-area: img;
    width: 200px;
    height: 230px;
    margin: auto 1rem;
    border-top-right-radius: 20%;
}

.product .container-preview .card-preview .detail-bahan {
    grid-area: desc;
    width: 27ch;
    margin-left: 1rem;
}


.product .container-preview .card-preview .close {
    position: absolute;
    font-size: 1.9rem;
    top: 26.5%;
    right: 30.5%;
    height: 30px;
    cursor: pointer;
}


/* bagian paket usaha */

.paket-usaha {
    height: 100dvh;
    background-image: linear-gradient(160deg, #FF91AF , #fdec00d6);
}

.paket-usaha :is(.judul-paket, .penutup-paket) {
    text-align: center;
    color: white;
    margin: 0 0 2rem;
}

.paket-usaha :is(.judul-paket, .penutup-paket) h2 {
    text-transform: uppercase;
}

.paket-usaha :is(.judul-paket, .penutup-paket) p {
    margin: 1rem 0 0;
}

.paket-usaha .penutup-paket {
    margin: 3rem 0 0;
}

.paket-usaha .jenis-paket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}

.paket-usaha .jenis-paket .paket {
    border: 2px solid black;
    margin: 1rem 2.2rem;
    height: 15rem;
    border-radius: 1rem;
    position: relative;
    background-color: #4998d0;
    opacity: .8;
    cursor: pointer;
}

.paket-usaha .jenis-paket .paket .judul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 0 .6rem;
}

.paket-usaha .jenis-paket .paket .judul::after {
    content: '';
    position: absolute;
    top: 3.5rem;
    width: 12rem;
    height: 2px;
    background-image: linear-gradient(to left, #FDEE00, #FF91AF);
}

.paket-usaha .jenis-paket .paket .jns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paket-usaha .jenis-paket .paket .jns img {
    width: 3rem;
    height: 3rem; 
}


/* preview lengkap paket usaha */

.paket-usaha .preview-lengkap-usaha {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    width: 100dvw;
    height: 100dvh;
    color: #fff;
    display: none;
    transition: 3.1s ease-in-out;
    transform: translateY(100%);
}

.paket-usaha .preview-lengkap-usaha .preview-product {
    display: grid;
    grid-template-rows: 8rem 8rem 12rem;
    display: none;
}

.paket-usaha .preview-lengkap-usaha :is(.kemeja-dan-blouse, .rajut-baru) {
    grid-template-areas: 'title title title'
                         'paket1 paket2 paket3'
                         'close close close';
}

.paket-usaha .preview-lengkap-usaha :is(.PU-rajut, .paketan-combo-best) {
    grid-template-areas: 'title title'
                         'paket1 paket2'
                         'close close';
}

.paket-usaha .preview-lengkap-usaha .preview-product .judul-preview {
    grid-area: title;
    margin-top: 4rem;
    text-transform: uppercase;
    place-self: start center;
}

.paket-usaha .preview-lengkap-usaha .preview-paket {
    background-image: linear-gradient(45deg, #4997D0, #FF91AF 60%);
    margin: 1rem;
    width: 15rem;
    height: 3.5rem;
    place-self: start center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    cursor: pointer;
    transition: .55s ease-in-out;
}

.paket-usaha .preview-lengkap-usaha .preview-paket:hover {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
    color: black;
}

.paket-usaha .preview-lengkap-usaha :is(.kemeja-dan-blouse,.PU-rajut, .paketan-combo-best, .rajut-baru) .judul-preview img {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 8.5%;
}


.paket-usaha .preview-lengkap-usaha :is(.kemeja-dan-blouse, .rajut-baru) .judul-preview img {
    left: 28%;
}

.paket-usaha .preview-lengkap-usaha :is(.kemeja-dan-blouse, .rajut-baru) .judul-preview img:last-child {
    left: 67%;
}

.paket-usaha .preview-lengkap-usaha .PU-rajut .judul-preview img {
    left: 34%;
}

.paket-usaha .preview-lengkap-usaha .PU-rajut .judul-preview img:last-child {
    left: 61.2%;
}

.paket-usaha .preview-lengkap-usaha :is(.paketan-combo-best, .rajut-baru) .judul-preview img {
    left: 32.5%;
}

.paket-usaha .preview-lengkap-usaha :is(.paketan-combo-best, .rajut-baru) .judul-preview img:last-child {
    left: 62.7%;
}

.paket-usaha .preview-lengkap-usaha .arrow-down-close {
    grid-area: close;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    place-self: end center;
    cursor: pointer;
}

.paket-usaha .preview-lengkap-usaha .arrow-down-close .ph {
    font-size: 2.2rem;
    text-align: center;
}


/* aside bar transaksi */

:where(.transaksi, .link-tf, .ph-whatsapp-logo) {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.transaksi {
    position: fixed;
    top: 87%;
    left: 95%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}

.transaksi.active {
    opacity: 1;
    visibility: visible;
}

.transaksi a.link-tf {
    text-decoration: none;
    padding: 3.7px;
    font-size: 2rem;
    color: #ECE5DD;
}


/* tampilan mobile */
 
@media (max-width: 480px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }
    html {
        overflow-x: hidden;
    }

    /* navbar */
    header {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        width: 100vw;
        height: 70px;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    header .logo img {
        margin-top: .5rem;
        width: 10.5rem;
        height: 4rem;
        object-fit: cover;
        z-index: -8;
    }
    
    header .logo figcaption {
        display: none;
    }
    
    header nav ul :is(.link-1, .link-2) {
        position: absolute;
        top: 0.5rem;
        margin: 0 17.25%;
        width: 22%;
        height: max-content;
        padding: 0;
        transition: .5s ease;
        z-index: 20;
    }

    
    header nav ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        transition: .3s linear;
    }

    header nav ul li a.active {
        color: black;
    }


    header nav ul .link-1 {
        left: -12%;
    }
    
    header nav ul .link-2 {
        left: 55%; 
    }
    header nav ul li a i {
        visibility: visible;
        font-size: 2.2rem;
    }
    header nav ul li a p {
        width: 10ch;
        text-align: center;
    }

    /* about toko */
    main .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .landing-page .about-toko {
        width: 90vw;
        padding: 0 .5rem 2rem;
        margin-left: 1rem;
    }
    
    .landing-page .about-toko p {
        font-size: 2rem;
    }

    .landing-page .about-toko h2 {
        font-size: 3rem;
    }

    .landing-page .about-toko .sosial-media {
        text-align: start;
    }

    .landing-page .about-toko .sosial-media a i {
        font-size: 2.8rem;
    }

    .landing-page .about-toko .sosial-media a .ph-instagram-logo {
        background-image: linear-gradient(
            45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5
        );
        background-clip: text;
        color: transparent;
    }

    .landing-page .about-toko .sosial-media a .ph-tiktok-logo {
        background-image: linear-gradient(
            135deg,
            #000
        );
        background-clip: text;
        color: transparent;
    }



    /* 3 tampilan baju */
    .landing-page .desain-bagus {
        width: 100dvw;
        height: 80%;
        place-content: start center;
        position: relative;
    }
    .landing-page .desain-bagus :is(.atribute-bunga-1, .atribute-bunga-2, .atribute-bunga-3) {
        width: 40px;
        height: 40px;
        z-index: 2;
    }
    .landing-page .desain-bagus .atribute-bunga-1 {
        right: 49%;
        top: -2.5%;
        transform: rotate(40deg);
    }
    
    .landing-page .desain-bagus .atribute-bunga-2 {
        right: 41.5%;
        top: 25%;
    }
    
    .landing-page .desain-bagus .atribute-bunga-3 {
        right: 49%;
        top: 46%;
        transform: rotate(40deg);
    }

    .landing-page .desain-bagus section img {
        width: 160px;
        height: 230px;
        object-fit: cover;
    }

    .landing-page .desain-bagus :is(.atas, .tengah, .bawah)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 70%;
        background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
        transform: rotate(90deg) translate(-205%, -22%);
    }

    @keyframes shine {
        0% {
            transform: rotate(90deg) translate(-235%, -22%);
        }
        100% {
            transform: rotate(90deg) translate(235%, -22%);
        }
    }

    .landing-page .desain-bagus :is(.atas, .bawah) {
        right: 7rem;
    }
    .landing-page .desain-bagus .tengah {
        left: 5rem;
        bottom: 3rem;
    }
    
    .landing-page .desain-bagus .bawah {
        bottom: 9rem;
    }

    /* filter inti */
    .product .filter-inti {
        position: relative;
        z-index: 999;
    }
    .product .filter-inti ul li {
        user-select: none;
        touch-action: manipulation;
        padding: 1rem;
    }

    /* filter jenis */
    main .product .filter-jenis {
        margin: 0 1rem;
        height: 30%;
        overflow: hidden;
    }
    main .product .filter-jenis ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    main .product .filter-jenis ul li {
        width: max-content;
        margin: 1.2rem 0;
    }
    main .product .filter-jenis ul li:is([data-filter="cardigan-rajut"], [data-filter="blouse"]) {
        margin-right: 1rem;
    }
    main .product .filter-jenis ul li:is([data-filter="kemeja"], [data-filter="rajut"]) {
        margin-left: 1rem;
    }
    .product .filter-jenis ul li.active {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product .filter-jenis ul li.active::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: #4997D0;
        top: 120%;
    }

    .product .filter-jenis ul li.active::after {
        width: 0%;
        height: 0px;
    }


    /* product */
    .product .jenis-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: .4s ease-out;
        position: relative;
    }
    .product .jenis-product .card-product {
        background-image: linear-gradient(to top left, #ff91aeda, #fdec00bb);
        width: 75%;
        height: 20dvh;
        margin: 0 auto 10%;
        border-radius: 7%;
        text-align: center;
        font-size: .75rem;
    }
    .product .jenis-product .card-product img {
        width: 70%;
        height: 60%;
        border-radius: 7%;
        margin: 1rem 0 .5rem;
        object-fit: cover;
    }
    .product .jenis-product[data-letak] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 1rem;
        min-width: max-content;
    }
    .product .jenis-product[data-letak] .card-product h2 {
        min-width: max-content;
        font-size: .8rem;
    }
    

    /* preview product */
    .product .container-preview {
        background-color: rgba(255, 0, 0, 0.2);
    }
    .product .container-preview:not([style*="display: flex"]) {
        pointer-events: none !important;
    }
    .product .container-preview .card-preview {
        display: none;
        grid-template-areas: 'title img'
                            'desc img';
        border: 3px solid black;
        background-image: linear-gradient(140deg, #FDEE00, #4997D0);
        width: 75%;
        height: 35%;
    }
    .product .container-preview .card-preview h3 {
        align-items: flex-start;
        margin: 1rem 1rem -2rem;
        font-size: 1.2rem;
        height: 50%;
    }

    .product .container-preview .card-preview img {
        width: 150px;
        height: 190px;
        margin: auto 1rem;
        border-top-right-radius: 20%;
    }
    .product .container-preview .card-preview .detail-bahan {
        width: 17ch;
        margin-left: 1.2rem;
        font-size: .8rem;
    }
    .product .container-preview .card-preview .close {
        font-size: 2.3rem;
        top: 33%;
        right: 14%;
        height: 40px;
    }



    /* paket usaha */
    .paket-usaha {
        padding-top: 2%;
    }
    .paket-usaha :is(.judul-paket, .penutup-paket) {
        margin: 1rem 1rem 2rem;
    }
    .paket-usaha :is(.judul-paket, .penutup-paket) h2 {
        font-size: 1.8rem;
    }
    .paket-usaha :is(.judul-paket, .penutup-paket) p {
        margin: 1rem auto;
        font-size: 1.1rem;
        width: 30ch;
    }
    .paket-usaha .jenis-paket {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .paket-usaha .jenis-paket .paket {
        margin: 1rem 1rem;
        height: 15rem;
        border-radius: .7rem;
    }
    .paket-usaha .jenis-paket .paket .judul {
        margin: 0rem 0 1.2rem;
        font-size: .8rem;
    }
    .paket-usaha .jenis-paket .paket .judul::after {
        top: 3.3rem;
        height: 4px;
        width: 11rem;
    }
    .paket-usaha .jenis-paket .paket .jns {
        font-size: .85rem;
    }
    .paket-usaha .jenis-paket .paket .jns img {
        width: 2rem;
        height: 2rem; 
    }

    /* preview paket */
    .paket-usaha .preview-lengkap-usaha .preview-product {
        grid-template-areas: 'judul judul'
                             'harga1 harga2'
                             'harga3 harga3'
                             'close close';
        grid-template-rows: repeat(4, 40%);
    }
    .paket-usaha .preview-lengkap-usaha .preview-product .judul-preview {
        grid-area: judul;
        margin: 2.2rem 0;
        font-size: .9rem;   
    }
    .paket-usaha .preview-lengkap-usaha .preview-product .judul-preview h2 {
        width: 18ch;
        text-align: center;
    }
    .paket-usaha .preview-lengkap-usaha :is(.kemeja-dan-blouse,.PU-rajut, .paketan-combo-best, .rajut-baru) .judul-preview img {
        height: 40px;
        width: 40px;
        top: 6%;
    }
    .paket-usaha .preview-lengkap-usaha :is(.PU-rajut, .rajut-baru) .judul-preview h2 {
        width: 15ch;
    }
    .paket-usaha .preview-lengkap-usaha .preview-paket {
        background-image: linear-gradient(45deg, #4997D0, #FF91AF 60%);
        margin: 1rem;
        width: 10%;
        height: max-content;
        text-align: center;
        padding: .35rem;
        width: 20ch;
    }
    .paket-usaha .preview-lengkap-usaha .kemeja-dan-blouse .judul-preview img {
        left: 17%;
    }

    .paket-usaha .preview-lengkap-usaha .kemeja-dan-blouse .judul-preview img:last-child {
        left: 74%;
    }
    .paket-usaha .preview-lengkap-usaha .PU-rajut .judul-preview img {
        left: 30%;
    }
    .paket-usaha .preview-lengkap-usaha .PU-rajut .judul-preview img:last-child {
        left: 61.5%;
    }
    .paket-usaha .preview-lengkap-usaha .paketan-combo-best .judul-preview img {
        left: 27%;
    }
    .paket-usaha .preview-lengkap-usaha .paketan-combo-best .judul-preview img:last-child {
        left: 64%;
    }
    .paket-usaha .preview-lengkap-usaha .paketan-combo-best .judul-preview img {
        left: 27%;
    }
    .paket-usaha .preview-lengkap-usaha .paketan-combo-best .judul-preview img:last-child {
        left: 64%;
    }
    .paket-usaha .preview-lengkap-usaha .rajut-baru .judul-preview img {
        left: 27.5%;
    }
    .paket-usaha .preview-lengkap-usaha .rajut-baru .judul-preview img:last-child {
        left: 63.6%;
    }
    .paket-usaha .preview-lengkap-usaha .preview-paket p {
        padding: 0;
        font-size: .8rem;
    }
    .paket-usaha .preview-lengkap-usaha .preview-product .harga-1 {
        grid-area: harga1;
        width: 55%;
    }
    .paket-usaha .preview-lengkap-usaha .preview-product .harga-2 {
        grid-area: harga2;
        width: 60%;
    }
    .paket-usaha .preview-lengkap-usaha .preview-product .harga-3 {
        grid-area: harga3;
    }
    .paket-usaha .preview-lengkap-usaha .arrow-down-close {
        border: 2px solid white;
    }

    /* transaksi via whatsApp */
    .transaksi {
        top: 82%;
        left: 90%;
    }
}